{% extends '@admin/navigation/sidebar-menu.html.twig' %}

{% block navigation %}
    {{ parent() }}
    {% if checkAccess('view_languages') %}
    <li>
        <a href="{{site.uri.public}}/languages"><i class="fa fa-building"></i> <span>{{ translate("LANGUAGE", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('view_texts') %}
    <li>
        <a href="{{site.uri.public}}/texts"><i class="fa fa-building"></i> <span>{{ translate("TEXT", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('view_translations') %}
    <li>
        <a href="{{site.uri.public}}/translations"><i class="fa fa-building"></i> <span>{{ translate("TRANSLATION", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('view_steps') %}
    <li>
        <a href="{{site.uri.public}}/steps"><i class="fa fa-building"></i> <span>{{ translate("STEP", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('view_tasks') %}
    <li>
        <a href="{{site.uri.public}}/tasks"><i class="fa fa-building"></i> <span>{{ translate("TASK", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('view_questions') %}
    <li>
        <a href="{{site.uri.public}}/questions"><i class="fa fa-building"></i> <span>{{ translate("QUESTION", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('view_answers') %}
    <li>
        <a href="{{site.uri.public}}/answers"><i class="fa fa-building"></i> <span>{{ translate("ANSWER", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('view_subTasks') %}
    <li>
        <a href="{{site.uri.public}}/subTasks"><i class="fa fa-building"></i> <span>{{ translate("SUB_TASK", 2) }}</span></a>
    </li>
    {% endif %}
    {% if checkAccess('view_logics') %}
    <li>
        <a href="{{site.uri.public}}/logics"><i class="fa fa-building"></i> <span>{{ translate("LOGIC", 2) }}</span></a>
    </li>
    {% endif %}
{% endblock %}

