{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("LOGIC", 2) }}{% endblock %}

{% block page_description %}{{ translate("LOGIC.PAGE") }}.{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div id="widget-logics" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-pencil-ruler fa-fw"></i> {{translate('LOGIC', 2)}}</h3>
                    {% include "tables/table-tool-menu.html.twig" %}
                </div>
                <div class="box-body table-responsive">
                    {% include "tables/logics.html.twig" with {
                            "table" : {
                                "id" : "table-logics",
                                "columns" : ["creator"]
                            }
                        }
                    %}
                </div>
				{% if checkAccess('create_logic') %}
                <div class="box-footer">
                    <button type="button" class="btn btn-success js-displayForm" data-toggle="modal" data-formUrl="api/logics/new">
                        <i class="fa fa-plus-square"></i>  {{ translate("LOGIC.CREATE")}}
                    </button>
					
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/logics') | raw }}
	
	{{ assets.js('js/FormGenerator') | raw }}

{% endblock %}
